.contactus.THIS {
    float:right;
    color:darkred;
    background:aliceblue;
    font-size:30px;
    font-family:ariel;
    border:5px solid blue;
    
}
.headone.THIS {
    color: darkred;
    font-size:60px;
    text-align:center;
    background: aliceblue;
    border:5px solid blue;
   
    
}